/* ==========================================================================
   Variables / Font
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Trade+Winds);

$myFont: 'Trade Winds', cursive;


$white :#fafafa;
$gold: #ff791a;
$noon: #00EAFF;
$evening: #9E00B2;
$light-black: #333;

/* ==========================================================================
   Helper Classes
   ========================================================================== */

body {
    background: $light-black;
    font-family: $myFont;
}

// .morning {
//     section {
//         color: $light-black;
//     }
// }

// .noon {
//     section {
//         color: $noon;
//     }
// }

// .evening {
//     section {
//         color: $evening;
//     }
// }

// .night {
//     section {
//         color: $gold;
//     }
// }



main {
    margin: 0 auto;
    position: relative;
    width: 90%;
    max-width: 1000px;
}

section {
    color: $gold;
    display: none;
    padding-top: 5%;
    h1 {
        font-size: 4em;
        text-align: center;
    }
    p {
        display: none;
        font-size: 1.5em;
        letter-spacing: 2.5px;
    }
    button {
        background: transparent;
        color: $gold;
        font-family: $myFont;
        font-size: 1em;
        padding: 5px 20px;
        float: right;
    }
    input[type="text"] {
        background: transparent;
        box-shadow: -2px -2px 4 #fafafa inset;
        color: #ff791a;
        height: 1.5em;
        padding-left: 5px;
        position: relative;
        width: 100px;
        top: -3px;
        font-size: .75em;
        font-family: $myFont;
    }
    select {
        background: transparent;
        border: 1px solid $white;
        color: $gold;
        height: 25px;
        padding: 10px;
        position: relative;
        top: -3px;
        width: 75px;
    }
}


#start-screen {
    text-align: center;
    #start-btn {
        font-size: 2em;
        display: none;
        float: none;
    }
    .king-container {
        position: relative;
        width: 225px;
        margin: 100px auto;
    }
    #mountain-king {
        display: none;
        width: 198px;
        margin: 10% auto;
    }

    div[class^="glow-ball"] {
        background: $white;
        height: 15px;
        position: absolute;
        width: 15px;
    }
}

#village {
    position: relative;

    button {
        margin-top: 50px;
    }

    #villager {
        display: none;
        width: 198px;
        height: 198px;
    }

    #villager:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background: rgb(51, 51, 51);
        box-shadow:90px 0px #828181,78px 6px #828181,132px 24px #828181,66px 36px #828181,132px 36px #828181,126px 72px #828181,132px 60px #828181,72px 72px #828181,60px 90px #828181,54px 96px #828181,66px 102px #828181,72px 108px #828181,138px 90px #828181,144px 120px #828181,156px 120px #828181,168px 126px #828181,150px 120px #828181,174px 132px #828181,174px 144px #828181,174px 168px #828181,174px 180px #828181,174px 192px #828181,60px 120px #828181,54px 120px #828181,42px 138px #828181,36px 156px #828181,36px 168px #828181,30px 192px #828181,66px 156px #828181,60px 192px #828181,132px 150px #828181,138px 192px #828181,90px 108px #828181,108px 108px #828181,90px 120px #828181,108px 138px #828181,114px 150px #828181,114px 162px #828181,120px 168px #828181,120px 174px #828181,120px 180px #828181,114px 186px #828181,114px 132px #828181,102px 132px #828181,138px 36px #828181,144px 48px #828181,138px 54px #828181,72px 126px #172769,48px 144px #172769,42px 156px #172769,54px 138px #172769,54px 132px #172769,48px 156px #172769,42px 162px #172769,42px 168px #172769,42px 180px #172769,36px 186px #172769,36px 192px #172769,42px 174px #172769,42px 144px #172769,72px 102px #172769,78px 102px #172769,126px 114px #172769,120px 114px #172769,126px 108px #172769,84px 120px #172769,120px 132px #172769,132px 126px #172769,126px 156px #172769,126px 138px #172769,120px 144px #172769,120px 162px #172769,126px 162px #172769,126px 180px #172769,126px 186px #172769,114px 174px #172769,108px 162px #172769,108px 186px #172769,108px 150px #172769,108px 144px #172769,132px 102px #172769,96px 186px #172769,78px 144px #172769,84px 156px #172769,96px 162px #172769,96px 180px #172769,48px 126px #3051db,42px 132px #3051db,48px 138px #3051db,60px 126px #3051db,54px 126px #3051db,144px 126px #3051db,162px 126px #3051db,150px 126px #3051db,168px 138px #3051db,156px 126px #3051db,168px 132px #3051db,138px 96px #3051db,66px 96px #3051db,60px 96px #3051db,78px 96px #3051db,72px 96px #3051db,126px 90px #3051db,132px 96px #3051db,138px 150px #162563,156px 192px #162563,162px 180px #162563,162px 174px #162563,162px 162px #162563,150px 150px #162563,144px 144px #162563,156px 162px #162563,156px 132px #162563,156px 144px #162563,156px 156px #162563,162px 168px #162563,60px 150px #162563,54px 162px #162563,54px 168px #162563,54px 180px #162563,54px 186px #162563,60px 180px #162563,60px 174px #162563,60px 156px #162563,60px 144px #162563,90px 156px #162563,78px 150px #162563,72px 144px #162563,156px 168px #162563,132px 168px #162563,132px 174px #162563,132px 186px #162563,132px 120px #162563,138px 126px #162563,90px 132px #162563,90px 162px #162563,90px 174px #162563,120px 138px #162563,72px 120px #0f1a45,78px 126px #0f1a45,84px 132px #0f1a45,102px 144px #0f1a45,96px 126px #0f1a45,78px 120px #0f1a45,96px 138px #0f1a45,102px 150px #0f1a45,90px 138px #0f1a45,78px 132px #0f1a45,66px 126px #0f1a45,84px 138px #0f1a45,96px 150px #0f1a45,108px 168px #0f1a45,126px 132px #0f1a45,132px 132px #0f1a45,126px 144px #0f1a45,150px 162px #0f1a45,72px 156px #0f1a45,72px 162px #0f1a45,72px 168px #0f1a45,72px 180px #0f1a45,72px 186px #0f1a45,78px 156px #0f1a45,78px 162px #0f1a45,78px 174px #0f1a45,78px 186px #0f1a45,78px 192px #0f1a45,66px 150px #0f1a45,120px 102px #0f1a45,114px 114px #0f1a45,84px 102px #0f1a45,84px 108px #0f1a45,84px 114px #0f1a45,78px 108px #0f1a45,120px 108px #0f1a45,114px 120px #0f1a45,114px 126px #0f1a45,120px 120px #0f1a45,150px 156px #0f1a45,156px 174px #0f1a45,156px 180px #0f1a45,156px 186px #0f1a45,138px 144px #0f1a45,144px 150px #0f1a45,144px 156px #0f1a45,150px 192px #0f1a45,90px 168px #0f1a45,78px 168px #0f1a45,78px 180px #0f1a45,168px 162px #213a99,168px 168px #213a99,168px 180px #213a99,162px 186px #213a99,162px 198px #213a99,168px 192px #213a99,168px 186px #213a99,162px 156px #213a99,162px 132px #213a99,138px 132px #213a99,144px 132px #213a99,162px 138px #213a99,156px 150px #213a99,168px 150px #213a99,174px 150px #213a99,156px 138px #213a99,150px 138px #213a99,174px 162px #213a99,174px 174px #213a99,174px 186px #213a99,126px 96px #213a99,126px 102px #213a99,60px 132px #213a99,54px 144px #213a99,48px 180px #213a99,48px 192px #213a99,48px 186px #213a99,48px 162px #213a99,36px 180px #213a99,48px 174px #213a99,42px 192px #213a99,48px 168px #213a99,48px 150px #213a99,54px 150px #213a99,72px 138px #213a99,84px 144px #213a99,90px 150px #213a99,66px 144px #213a99,60px 138px #213a99,72px 132px #213a99,78px 138px #213a99,96px 156px #213a99,102px 156px #213a99,108px 0px #999394,120px 6px #999394,132px 18px #999394,72px 12px #999394,66px 24px #999394,66px 30px #999394,72px 18px #999394,66px 42px #999394,138px 30px #999394,144px 36px #999394,150px 42px #999394,138px 48px #999394,60px 42px #999394,54px 42px #999394,54px 48px #999394,60px 54px #999394,78px 90px #999394,84px 96px #999394,90px 78px #999394,96px 78px #999394,96px 84px #999394,102px 90px #999394,108px 102px #999394,114px 90px #999394,108px 78px #999394,102px 96px #999394,114px 96px #999394,120px 84px #999394,126px 78px #999394,132px 72px #999394,132px 66px #999394,138px 60px #999394,114px 78px #999394,66px 72px #999394,66px 66px #999394,66px 60px #999394,60px 60px #999394,72px 78px #999394,72px 84px #999394,78px 84px #999394,84px 84px #999394,90px 90px #999394,90px 96px #999394,96px 102px #999394,102px 114px #999394,108px 90px #999394,108px 84px #999394,96px 96px #999394,102px 108px #999394,132px 78px #999394,126px 84px #999394,120px 96px #999394,114px 102px #999394,114px 108px #999394,78px 78px #999394,90px 72px #999394,114px 72px #999394,108px 66px #999394,96px 66px #999394,84px 78px #141414,120px 78px #141414,120px 90px #bababa,102px 84px #bababa,108px 96px #bababa,96px 90px #bababa,84px 90px #bababa,102px 102px #bababa,114px 84px #bababa,90px 84px #bababa,132px 90px #bababa,144px 90px #bababa,138px 102px #bababa,132px 108px #bababa,144px 96px #bababa,144px 102px #bababa,138px 108px #bababa,132px 114px #bababa,126px 120px #bababa,120px 126px #bababa,66px 90px #bababa,54px 90px #bababa,48px 90px #bababa,42px 90px #bababa,48px 96px #bababa,60px 102px #bababa,66px 108px #bababa,66px 114px #bababa,72px 114px #bababa,78px 114px #bababa,84px 126px #bababa,48px 120px #bababa,36px 120px #bababa,30px 120px #bababa,30px 126px #bababa,36px 126px #bababa,36px 138px #bababa,36px 144px #bababa,36px 150px #bababa,36px 132px #bababa,42px 126px #bababa,162px 120px #bababa,180px 114px #bababa,174px 120px #bababa,180px 120px #bababa,180px 126px #bababa,180px 132px #bababa,180px 144px #bababa,180px 156px #bababa,168px 114px #bababa,30px 144px #bababa,30px 162px #bababa,90px 48px #c3e663,114px 48px #c3e663,48px 132px #172769,66px 186px #c7c7c7,66px 180px #c7c7c7,66px 168px #c7c7c7,36px 174px #c7c7c7,30px 180px #c7c7c7,180px 168px #c7c7c7,180px 180px #c7c7c7,48px 114px #c7c7c7,36px 114px #c7c7c7,96px 0px #c7c7c7,84px 0px #c7c7c7,72px 6px #c7c7c7,126px 12px #c7c7c7,66px 18px #c7c7c7,48px 48px #c7c7c7,150px 48px #c7c7c7,102px 78px #c7c7c7,96px 174px #162563,102px 168px #1a1787,108px 174px #1a1787,102px 186px #1a1787,96px 168px #1a1787,108px 192px #1a1787,90px 192px #1a1787,90px 186px #1a1787,84px 174px #1a1787,84px 168px #1a1787,84px 162px #1a1787,84px 192px #1a1787,102px 192px #1a1787,102px 180px #1a1787,90px 180px #1a1787,84px 186px #1a1787,132px 192px #1a1787,132px 180px #1a1787,126px 174px #1a1787,126px 168px #1a1787,120px 156px #1a1787,132px 162px #1a1787,138px 162px #1a1787,126px 150px #1a1787,120px 150px #1a1787,102px 162px #1a1787,108px 180px #1a1787,84px 180px #1a1787,96px 192px #1a1787,102px 174px #1a1787,144px 180px #1a1787,144px 174px #1a1787,138px 168px #1a1787,138px 180px #1a1787,138px 186px #1a1787,132px 138px #1a1787,150px 144px #1a1787,90px 144px #1a1787,66px 138px #1a1787,108px 126px #1a1787,108px 120px #1a1787,102px 126px #1a1787,90px 114px #1a1787,96px 144px #1a1787,114px 138px #1a1787,132px 144px #1a1787,144px 138px #1a1787,132px 156px #1a1787,138px 174px #1a1787,114px 192px #1a1787,120px 192px #878787,114px 144px #878787,96px 132px #878787,90px 126px #878787,138px 156px #878787,144px 186px #1a1787,150px 180px #0f1a45,144px 168px #1a1787,144px 162px #878787,150px 168px #878787,150px 174px #878787,150px 186px #878787,72px 150px #878787,72px 192px #878787;
    }

    h3 {
        display: none;
        margin-left: 45px;
    }
}

#market {
    #blacksmith,
    #apothecary {
        background: transparent;
        border: 1px solid #fafafa;
        color: #ff791a;
        float: none;
        font-family: "Trade Winds",cursive;
        font-size: 1em;
        padding: 5px 20px;
        margin-top: 30px;
    }
}

#blacksmith-store,
#apothecary-store {
    .player-money {
        float: right;
    }
    #armor-list,
    #weapons-list, {
        margin: 50px 0;
        width: 100%;
        ul {
            list-style: none;
            width: 100%;
            li {
                display: block;
                height: 50px;
                font-size: 1em;
                @media screen and (min-width: 768px) {
                    display: inline-block;
                    width: 40%;
                    margin: 5%;
                }

                button {
                    display: inline-block;
                    margin-left: 20px;
                }

                button {
                    display: inline-block;
                }
            }
        }
        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }

    #armor-list {
        border-bottom: 1px solid #fafafa;
        padding-bottom: 50px;
    }

    #weapons-list {
        margin-top: 50px;
    }
}

#apothecary-store {

}
